h1{
  font-size: 75px;
  font-family: 'Berkshire Swash', cursive;
  text-align: left;
  color: #05DEB7;
}
h2{
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
  color: #263344;
}
h3{
  font-size: 40px;
  font-family: 'Bangers', cursive;
}
img{
  width: 25%;
}
p{
  font-size: 30px;
}
.pot{
  float: right;
}
.main{
  background-image: url(../images/head.jpg);
  padding: 1%;
  background-repeat: no-repeat;
  background-size: cover;

}
.less{
  background-image: url(../images/new2.jpg);height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1%;
  padding-bottom: 5%;
}
a{
  background-color: #4CAF50;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 12px;
}
ul{
  font-size: 30px;
}
