h1{
  font-size: 75px;
  font-family: cursive;
  text-align: left;
  font-style: italic;
  color: #05DEB7;
}
h2{
  font-size: 50px;
  font-family: monospace;
  color: #263344;
}
h3{
  font-size: 40px;
}
img{
  width: 25%;
}
p{
  font-size: 30px;
}
.pot{
  float: right;
}
.main{
  background-image: url(../images/head.jpg);
  padding: 1%;
  background-repeat: no-repeat;
  background-size: cover;

}
.less{
  background-image: url(../images/new2.jpg);height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1%;
  padding-bottom: 5%;
}
